---
layout: default
title: Home
---
<br />
<p><h1>Hey.</h1></p>
<p>
    I'm Shubhro Saha, a software engineer at Facebook in California. <br />
    My notable work includes:
</p>
    <ul>
        <li>
            <a target="_blank" href="http://jasperproject.github.io/">Jasper</a>
            <p>
                <a href="https://news.ycombinator.com/item?id=7546858">Hacker News</a>
                &sdot;
                <a href="http://www.forbes.com/sites/davealtavilla/2014/04/09/princeton-wiz-kids-create-open-source-api-for-device-voice-control-assistant-runs-on-raspberry-pi/">Forbes</a>
                &sdot;
                <a href="http://www.wired.com/2014/04/out-in-the-open-jasper/">Wired</a>
                &sdot;
                <a href="http://www.pcworld.com/article/2142283/jasper-voice-automation-project-brings-a-siri-like-virtual-assistant-to-raspberry-pi.html">PCWorld</a>
                &sdot;
                <a href="http://lifehacker.com/jasper-adds-voice-control-to-your-raspberry-pi-projects-1560145451">Lifehacker</a>
            </p>
        </li>
        <li>
            <a href="http://introsideprojects.github.io/">Introduction to Side Projects</a> &amp; <a href="http://introtohacking.github.io/">Introduction to Hacking</a>
        </li>
        <li>
            <a href="/2013/11/01/phony/">The "Humans of New York" Post Generator</a>
            <p class="social-links">
                <a href="https://www.facebook.com/humansofnewyork/photos/a.102107073196735.4429.102099916530784/586050984802339/">Humans of New York</a>
            </p>
        </li>
    </ul>

    <p>Find me on <a target="_blank" href="https://github.com/shbhrsaha">GitHub</a> and <a target="_blank" href="https://twitter.com/shubroski">Twitter</a>.

    <br />
    <br />

    <h3><a href="/categories/software/">Software</a></h3>
        {% include categorypostlist.html category="Software" %}

    <h3><a href="/categories/education/">Education</a></h3>
        {% include categorypostlist.html category="Education" %}

    <h3><a href="/categories/productivity/">Productivity</a></h3>
        {% include categorypostlist.html category="Productivity" %}

    <h3><a href="/categories/startups/">Startups</a></h3>
        {% include categorypostlist.html category="Startups" %}

    <h3><a href="/categories/life/">Life</a></h3>
        {% include categorypostlist.html category="Life" %}

    <h3><a href="/categories/food/">Food</a></h3>
        {% include categorypostlist.html category="Food" %}

    <h3><a href="/categories/other/">Other</a></h3>
        {% include categorypostlist.html category="Other" %}
