<ul>
    {% for post in site.posts %}
        {% assign in_category = false %}

        {% for category in post.categories %}
            {% if category == include.category %}
            {% assign in_category = True %}
            {% endif %}
        {% endfor %}

        {% if in_category == false %}
            {% continue %}
        {% endif %}

        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>

            <p>
                {% for link_hash in post.links %}
                    {% for link in link_hash %}
                        <a href="{{ link[1] }}">{{ link[0] }}</a>
                    {% endfor %}
                    {% if forloop.last != true %}
                         &sdot;
                    {% endif %}
                {% endfor %}
            </p>
        </li>
    {% endfor %}
</ul>
