---
layout: default
---
<div class="header">
    <a href="/">Home</a>
    &sdot;
    <a target="_blank" href="https://twitter.com/shubroski">Twitter</a>
    &sdot;
    <a target="_blank" href="http://www.github.com/shbhrsaha">GitHub</a>
    &sdot;
    <a href="mailto:saha@alumni.princeton.edu">Email</a>
    &sdot;
    <a target="_blank" href="/feed.xml">RSS</a>
</div>
    <br />
    <h2>{{ page.title }}</h2>
    {{ content }}
    <br />
    <p>
    {{ page.date|date: "%B %Y" }}
    </p>
    <p>
    {% for link_hash in page.links %}
        {% for link in link_hash %}
            <a href="{{ link[1] }}">{{ link[0] }}</a>
        {% endfor %}
        {% if forloop.last != true %}
            &sdot;
        {% endif %}
    {% endfor %}
    </p>
